* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

@keyframes hire {
  0% {
    opacity: .5; }
  50% {
    opacity: 1;
    color: #ff8800;
    border: 1px solid #ff8800; }
  50% {
    opacity: 1;
    color: red;
    border: 1px solid red; }
  100% {
    opacity: 1;
    color: #ffee00;
    border: 1px solid #ffee00; } }

@keyframes head {
  0% {
    background-color: black; }
  100% {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.897)), url(../img/workwithus.jpg); } }

.head {
  animation: head 2s;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.897)), url(../img/workwithus.jpg);
  background-size: cover;
  height: 100vh; }
  @media screen and (max-width: 55em) {
    .head {
      height: 75vh; } }
  @media only screen and (max-width: 37.5em) {
    .head {
      height: 95vh; } }
  .head #position {
    color: #fff;
    font-size: 1.2rem;
    margin: auto;
    width: 30vw;
    margin-top: 0; }
    .head #position p {
      padding: .2rem 2rem;
      background-color: #af052a;
      border-bottom: 1px solid black; }
      .head #position p:hover {
        background-color: rgba(230, 20, 55, 0.212); }
  .head .seperate {
    text-align: center;
    margin-bottom: 0; }
    .head .seperate .search {
      background-color: rgba(0, 0, 0, 0.185);
      border: 3px solid #ff0040;
      border-radius: 2rem;
      width: 42vw;
      margin: auto;
      height: 4rem;
      padding: 2rem;
      color: #fff;
      margin-bottom: 0;
      margin-top: 1rem;
      transition: all .5s; }
      .head .seperate .search:focus {
        width: 45vw;
        background-color: rgba(241, 238, 238, 0.185);
        border: 3px solid #ff0062; }
    .head .seperate .button {
      height: 1fr;
      background-color: #ff0040;
      border: none;
      border-radius: 5rem;
      margin-left: -5rem;
      padding: 1.5rem;
      color: #fff; }
  .head .text {
    text-align: center;
    padding-top: 10rem;
    transition: all 2s; }
    .head .text .heading {
      font-weight: 500;
      font-size: 7rem;
      margin-bottom: 2rem;
      color: #fff; }
    .head .text .paragraph {
      font-size: 1.7rem;
      margin-bottom: 3rem;
      color: #fff;
      padding: 0 40rem; }
      @media only screen and (max-width: 55em) {
        .head .text .paragraph {
          padding: 0 20rem; } }
      @media only screen and (max-width: 37.5em) {
        .head .text .paragraph {
          padding: 0 2rem; } }
    .head .text:hover .link2 {
      background-color: #af052a; }
    .head .text:hover .link {
      background-color: #af052a; }
    .head .text .link2 {
      text-decoration: none;
      color: #fff;
      border: 1.5px solid #fff;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      margin-right: 1rem; }
      .head .text .link2:hover {
        background-color: #f82e2e; }
    .head .text .link {
      text-decoration: none;
      color: #fff;
      border: 1.5px solid #fff;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      margin-right: 1rem;
      transition: all .5s; }
      .head .text .link:hover {
        background-color: #f82e2e; }
  .head .buttom {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.795) 30%, rgba(245, 87, 87, 0.048) 55%); }
    .head .buttom .navigation {
      background-color: transparent; }
      .head .buttom .navigation ul li {
        list-style: none;
        transition: all .5s;
        padding: 2rem; }
        .head .buttom .navigation ul li:hover {
          background-color: #af052a; }
        @media only screen and (max-width: 55em) {
          .head .buttom .navigation ul li {
            margin-right: 0; } }
        .head .buttom .navigation ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem; }
      .head .buttom .navigation ul .home {
        border-top: 3px solid #af052a; }

.features {
  padding: 3rem 0; }
  .features .heading {
    text-align: center;
    font-size: 3rem;
    color: #1f1e1e;
    font-weight: 500; }
  .features .para {
    text-align: center;
    font-size: 1.5rem;
    color: #a3a2a2; }
  .features .feature {
    padding: 1rem;
    text-align: center;
    background-color: #f0eeee;
    border-radius: 2px;
    box-shadow: 0 0.5rem 1rem rgba(73, 73, 73, 0.712);
    transition: all .5s; }
    @media only screen and (max-width: 37.5em) {
      .features .feature {
        box-shadow: none;
        margin-bottom: 1rem;
        background-color: #fff; } }
    .features .feature:hover {
      transform: scale(1.1) rotate(5deg); }
    .features .feature .heading {
      font-size: 2rem;
      color: #1f1e1e;
      margin-bottom: 1rem; }
    .features .feature .paragraph {
      font-size: 1.5rem;
      color: #a3a2a2; }

.hire {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.747)), url(../img/counter.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem;
  text-align: center; }
  .hire p {
    color: #fff;
    font-size: 3rem; }
  .hire .heading {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem; }
    .hire .heading span {
      color: #af052a; }
  .hire .link {
    animation: hire 1s alternate infinite;
    text-decoration: none;
    color: #af052a;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 1px solid #af052a;
    font-size: 1.6rem;
    background-color: transparent;
    margin-bottom: 2rem;
    transition: all .5s; }
    .hire .link:hover {
      background-color: #af052a;
      color: black;
      animation: none; }
    .hire .link:active {
      transform: scale(0.01); }
  .hire .position {
    color: #fff;
    padding: 1.5rem; }
    .hire .position p {
      color: #fff;
      text-transform: uppercase; }
  .hire #hope input {
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.623);
    color: rgba(253, 183, 183, 0.548);
    font-weight: 700;
    margin-bottom: 2rem;
    transition: all .5s; }
    .hire #hope input:focus {
      background-color: rgba(255, 255, 255, 0.048);
      padding-right: 2rem; }
    .hire #hope input:hover {
      border-color: rgba(247, 110, 110, 0.938); }
  .hire #hope button {
    background-color: #af052a;
    padding: .5rem 1rem; }
    .hire #hope button:hover {
      border-color: rgba(247, 110, 110, 0.938);
      background-color: rgba(172, 13, 13, 0.938); }

.team {
  padding: 5rem 0;
  text-align: center; }
  .team .heading {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem; }
  .team p {
    color: #a3a2a2;
    margin-bottom: 5rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card .imagess {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .card .last {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, black, white, black, white, black); }
    .card .last .imagess {
      width: 100%;
      height: 100%;
      overflow: hidden; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; }
    @media only screen and (max-width: 55em) {
      .card__side {
        backface-visibility: visible; } }
    .card__side--front {
      background-color: #1f1e1e;
      text-align: center;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
      @media only screen and (max-width: 55em) {
        .card__side--front {
          display: none; } }
      .card__side--front .name {
        font-size: 3rem;
        color: #fff;
        background-color: #af052a;
        text-align: center;
        margin-top: 5rem;
        padding: 2rem 0; }
      .card__side--front .star {
        color: #af052a;
        margin-top: 2rem;
        font-size: 2rem; }
    .card__side--back {
      transform: rotateY(180deg);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
      @media only screen and (max-width: 55em) {
        .card__side--back {
          box-shadow: none;
          transform: rotateY(360deg); } }
      @media only screen and (max-width: 37.5em) {
        .card__side--back {
          padding: 1rem 3rem; } }
      .card__side--back .imagess {
        height: 70%;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .card__side--back .imagess {
            border-radius: 50%;
            background-image: none; } }
      .card__side--back .last {
        height: 75%;
        margin-bottom: 1rem;
        background-image: none; }
        @media only screen and (max-width: 55em) {
          .card__side--back .last {
            height: 70%; } }
      .card__side--back p {
        padding: 1rem;
        text-align: left;
        margin: 1rem;
        border-radius: 3px;
        background-image: linear-gradient(to right, rgba(219, 214, 239, 0.959), rgba(219, 214, 239, 0.404)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: .5rem .5rem;
    display: inline-block; }
  .card__details {
    padding: 3rem;
    margin-top: 10rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        color: #a3a2a2;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #a3a2a2; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
    font-weight: 300; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .card .btn-green span {
    text-align: center;
    position: absolute;
    top: 20rem;
    left: 15rem; }

.column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center; }

.partner {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.644)), url(../img/blog/3.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem; }
  .partner .paragraph {
    margin-bottom: 3rem;
    color: #fff;
    padding: 1rem 30rem;
    font-size: 1.5rem; }
    @media only screen and (max-width: 55em) {
      .partner .paragraph {
        padding: 1rem 20rem; } }
    @media only screen and (max-width: 37.5em) {
      .partner .paragraph {
        padding: 1rem 2rem; } }
    .partner .paragraph span:nth-child(1) {
      animation: spans 1s infinite; }
    .partner .paragraph span:nth-child(2) {
      animation: spans 1s 5s infinite; }
    .partner .paragraph span:nth-child(3) {
      animation: spans 1s 7s infinite; }
  .partner .heading {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem; }
    .partner .heading span {
      color: #af052a; }
  .partner .link {
    animation: hire 1s alternate infinite;
    animation-fill-mode: backwards;
    text-decoration: none;
    color: #af052a;
    padding: 1rem 1.5rem;
    border: 1px solid #af052a;
    font-size: 1.4rem;
    transition: all .5s; }
    .partner .link:hover {
      background-color: #af052a;
      color: #fff; }

.footer {
  color: #fff;
  padding: 3rem 0; }
  .footer ul li {
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: rgba(58, 57, 57, 0.192);
    transition: all 1s; }
    .footer ul li:hover {
      transform: rotateX(360deg);
      background-color: rgba(58, 57, 57, 0.308);
      color: #af052a; }
  .footer .mfooter .copy {
    color: #2e2d2d; }
  .footer .mfooter .icon .foot {
    border: 1px solid #383737;
    padding: .5rem;
    margin-right: .3rem;
    transition: all .5s; }
    .footer .mfooter .icon .foot:hover {
      color: #af052a;
      transform: translateY(-50%);
      border: 1px solid #af052a; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [middle-start] repeat(7, 14rem) [middle-end] minmax(2rem, 1fr) [full-end]; }
  @media only screen and (max-width: 55em) {
    .container {
      grid-template-columns: [full-start] 3rem [middle-start] repeat(7, 1fr) [middle-end] 3rem [full-end]; } }
  .container .head {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content; }
    .container .head .buttom {
      display: grid;
      grid-template-columns: [full-start] 1fr [middle-start] repeat(7, 14rem) [middle-end] 1fr [full-end];
      grid-template-rows: min-content;
      color: #fff; }
      @media only screen and (max-width: 55em) {
        .container .head .buttom {
          grid-template-columns: [full-start] 3rem [middle-start] repeat(7, 14rem) [middle-end] 3rem [full-end]; } }
      @media only screen and (max-width: 37.5em) {
        .container .head .buttom {
          display: block;
          text-align: center; } }
      .container .head .buttom .logo {
        grid-column: middle-start / 4; }
        @media only screen and (max-width: 37.5em) {
          .container .head .buttom .logo {
            display: none; } }
      .container .head .buttom .navigation {
        grid-column: 6 / middle-end;
        align-self: center; }
        .container .head .buttom .navigation ul {
          display: flex;
          justify-content: space-between; }
  .container .about {
    grid-column: middle-start / middle-end;
    padding: 3rem 0 5rem 0;
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    grid-gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .container .about {
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .container .about .blog {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .container .about .icon {
        display: none; } }
    .container .about .image {
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .container .about .heading {
      grid-column: 1 / -1;
      justify-self: center;
      font-size: 3rem;
      color: #1f1e1e;
      font-weight: 500; }
      @media only screen and (max-width: 37.5em) {
        .container .about .heading {
          text-align: center;
          margin: 2rem; } }
    .container .about .paragraph {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      font-size: 1.5rem;
      color: #a3a2a2; }
      @media only screen and (max-width: 37.5em) {
        .container .about .paragraph {
          margin-bottom: 2rem; } }
    .container .about .link {
      justify-self: center;
      text-decoration: none;
      color: #fff;
      background-color: #af052a;
      padding: 1.2rem;
      font-size: 1.5rem;
      grid-column: 3 / 4;
      border-radius: 3px;
      transition: all .5s; }
      .container .about .link:hover {
        background-color: #27201d; }
    .container .about .para {
      grid-column: 2 / 3;
      align-self: center;
      font-size: 2rem;
      font-weight: 600;
      justify-self: flex-end; }
      @media only screen and (max-width: 37.5em) {
        .container .about .para {
          display: none; } }
  .container .features {
    grid-column: middle-start / middle-end; }
    .container .features .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, max-content);
      justify-content: space-between;
      grid-gap: 3rem;
      margin-top: 4rem; }
      @media only screen and (max-width: 55em) {
        .container .features .content {
          grid-template-columns: repeat(2, 1fr); } }
      @media only screen and (max-width: 37.5em) {
        .container .features .content {
          display: block; } }
  .container .hire {
    grid-column: full-start / full-end;
    background-color: black; }
  .container .team {
    grid-column: middle-start / middle-end; }
    .container .team .content2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      grid-gap: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .container .team .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between; } }
    @media only screen and (max-width: 37.5em) {
      .container .team .column .card {
        padding: 1rem 3rem;
        margin-bottom: 5rem;
        border: 2px solid #888585;
        border-top: none;
        border-bottom: none; } }
  .container .partner {
    grid-column: full-start / full-end;
    background-color: blue;
    text-align: center; }
    .container .partner .heading {
      font-size: 5rem;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase; }
      @media only screen and (max-width: 37.5em) {
        .container .partner .heading {
          font-size: 3rem; } }
      .container .partner .heading span {
        color: #af052a; }
  .container .footer {
    grid-column: full-start / full-end;
    background-color: black;
    display: grid;
    grid-template-columns: [full-start] 1fr [middle-start] repeat(7, 14rem) [middle-end] 1fr [full-end];
    grid-template-rows: repeat(2, 10rem);
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .container .footer {
        display: block; } }
    .container .footer ul {
      grid-column: middle-start / middle-end;
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 37.5em) {
        .container .footer ul {
          margin-bottom: 10rem; } }
      @media only screen and (max-width: 55em) {
        .container .footer ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 2rem;
          justify-content: center;
          align-items: center; } }
      @media only screen and (max-width: 37.5em) {
        .container .footer ul {
          display: grid;
          grid-template-columns: repeat(2, min-content);
          grid-column-gap: 10rem;
          justify-content: center;
          align-items: center; } }
      @media only screen and (max-width: 37.5em) {
        .container .footer ul li:nth-last-child(1) {
          display: none; } }
      @media only screen and (max-width: 55em) {
        .container .footer ul li {
          align-self: center;
          justify-self: center; } }
    .container .footer .mfooter {
      grid-row: 2 / 3;
      grid-column: middle-start / middle-end;
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 55em) {
        .container .footer .mfooter {
          justify-content: space-around; } }
